<style>
    .code {
        font-size: 24px;
    }
</style>
<p>Здравствуйте {{ name }},</p>
<p>Вы пытаетесь зарегестрироваться на платформе Meetins - для это вам нужно подвердить Вашу почту.</p>
<b class="code">Код подтверждения - {{ code }}</b>
<p>Данное письмо не требует ответа, Вы можете просто проигнорировать его если не хотите завершать процедуру регистрации.</p>